.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .shareButton {
      margin-left: 5em;
      transform: scale(0.8);
  }

  .link {
    display: flex;
    background-color: #eee;
    margin-bottom: 1.5em;
  }