.number {
  float: right;
}

.website {
  color: black;
}

.trend {
  margin-top: 0.3em;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  flex-grow: 1;
}