.rulename {
  flex-grow: 1;
}

.toolbar {
  background-color: #0a524d;
  color: white;
}

.headline {
  text-align: left;
  color: black;
  font-size: medium;
}

.icon * {
  color: lightgray;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headlinerow {
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}