.headline {
  text-align: left;
  color: var(--color-black);
  font-size: medium;
}

.headlinemargin {
  margin-top: 10%;
  margin-bottom: 5%;
}

.container {
  max-height: 100vh;
}

.favouriteSwitch {
  min-height: 3rem;
  display:flex;
  align-items: center;
}

.content {
  padding-top: 2.5rem;
}

.highlight {
    background-color: lightblue;
}

.ruleSearchField {
    margin-top: 2rem;
}