.outerBox {
  margin-top: 4rem;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  max-width: 55rem !important;
}

.content {
  max-height: 100vh;
}

.logo {
  margin-bottom: 1.5rem;
  min-width: 7rem;
}

.box {
  background-color: var(--color-bg-grey);
  justify-content: center;
  padding: 0.5rem 4rem;
  margin: 0.75rem 0;
}
