.outerBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 55rem;
}

.content {
    overflow-x: auto;
}

.logo {
    margin-bottom: 1.5rem;
    min-width: 7rem;
}