.tabHeader {
  background: #0A524D;
  color: white;
}

.indicator {
  background: white !important;
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.content {
  overflow-x: auto;
}
