.dialogBox {
    max-width: 20em;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 34rem;
    height: 34rem;
}

.skipLinkContainer {
    height: 3.5rem;
    color: grey;
}

.skipLink {
    color: grey;
}

.nextButton {
    margin-top: auto;
    margin-bottom: 1.5rem;
}