.iconSpacing {
  margin-right: 0.8rem;
  margin-top: 0.1rem;
}

.accordion {
  margin-left: -1.5em !important;
  margin-right: -1.5em !important;
}

.accordion > * {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}

.summary {
  background-color: var(--color-bg-grey) !important;
}

.detail {
  background-color: var(--color-white) !important;
}

.heading {
  flex-grow: 1;
}
