.container {
  height: 100vh;
}

.sidebar {
  background: rgba(0, 0, 0, .03);
}

.image {
  width: 80%;
  margin: 0 -5rem;
}

.dialogBox {
  max-width: 20em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 34rem;
}

.skipLink {
  margin: 1.5rem 0;
}

.text {
    flex-grow: 1;
}