:root {
  --color-primary:#0A524D;
  --color-primary-light:#487673;
  --color-primary-light-rgb:72, 118, 115;
  --color-bg-primary-light:rgba(var(--color-primary-light-rgb), 0.1);
  --color-secondary:#E3710E;
  --color-white:white;
  --color-black:black;
  --color-grey:lightgrey;
  --color-grey-dark:grey;
  --color-bg-grey:#F7F8F8;

  --color-red:#b00020;
  --color-yellow:#f0bb00;
  --color-green:#00a907;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--color-black);
}
