.eventStyles {
  vertical-align: middle;
}

.arrowUp {
  margin-right: 10px;
  color: #B00020;
  ;
}

.arrowDown {
    margin-right: 10px;
    color: #00A907;
    transform: scaleX(-1);
    ;
  }

.lineSpacing {
    margin-bottom: 10px;
    margin-top: 10px;
}
