.arrow {
  margin-right: 0.5rem;
}

.up {
  color: var(--color-red);
}

.down {
  color: var(--color-green);
  transform: scaleX(-1);
}

.neutral {
  transform: rotate(45deg);
  color: var(--color-grey-dark);
}
