.placeInfo {
  vertical-align: middle;
  margin-top: 0.3em;
}

.lineSpacing {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
}

.icon {
  float: right;
}

.name {
  flex-grow: 1;
  cursor: pointer;
}